@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  /* REMOVED background-color here */
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
